:root {
    --green:#3c863b;
    --white:#f2f6f2;
    --black:#1d1d1d;
    --black-hover:#000;
    --yellow:#fbb500;
    --gray:#f1eadd;
    --pink:#ffaaca;
    --line: #ebebeb;
    --border:#e4e4e4;
    --dots:#c38c00;

    --max-width:1300px;
    --padding-h: clamp(0.9375rem , 4vw , 2.5rem);
    --padding-v:clamp(.75rem , 2vw , 1.25rem);
    --padding-products-h: clamp(2rem , 6vw , 6rem);
    --fs-intros: clamp(2.3125rem , 5vw , 3.125rem);
    --fs-h3:clamp(1.875rem , 5vw , 2.3125rem);
    --ff:'IBM Plex Mono', monospace;
}