@use "../../sass/variables";

.Hero {
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--yellow);
    padding: 0 var(--padding-h);
    &-width {
        padding: 0 0 2.5rem 0;
        grid-template-areas: 
        "Hero-img"
        "Hero-section";
        @media screen and (min-width:768px){
            justify-content: center;
            align-items: center;
            grid-template-areas:
            "Hero-section Hero-img";
            grid-template-columns: repeat(2 , 1fr);
            padding: 0;
        }
    }

    &-section {
        grid-area: Hero-section;
    }
    &-img {
        margin: 0 auto;
        grid-area: Hero-img;
    }

}