@use "../../sass/variables";

.Delivery {
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--pink);
    padding: 0 var(--padding-h);
    &-width {
        grid-template-areas: 
        "Delivery-img"
        "Delivery-section";
        @media screen and (min-width:768px){
            justify-content: center;
            align-items: center;
            grid-template-areas:
            "Delivery-section Delivery-img";
            grid-template-columns: repeat(2 , 1fr);
            padding: 0;
        }
    }
    &-section {
        grid-area: Delivery-section;
    }
    &-img {
        grid-area: Delivery-img;
        margin: 0 auto;
    }

}