@use "../../sass/variables";

.Title {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 var(--padding-h);
    &-text {
        border-top: 1px solid var(--line);
        display: flex;
        flex-direction: column;
        gap: clamp(1rem , 3vw , 2rem);
        padding: 1rem 0 2.5rem 0;
    }
    &-h2 {
        font-size:clamp(2.3125rem , 5vw , 3.125rem);
    }
}