@use "../../sass/variables";

.ProductInformation {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem , 5vw , 6rem);
    padding: var(--padding-products-h) var(--padding-h);
    max-width: var(--max-width);
    margin: 0 auto;
    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-img {
        border-radius: 10px;
        @media screen and (min-width:768px) {
            width: 45rem;
            height: 45rem;
            object-fit: cover;
        }
    }
    &-basicInformation {
        display: grid;
        gap: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid var(--line);
    }
    &-span {
        color: var(--gray-text-productInfo);
        font-size: clamp(0.875rem , 5vw , 1rem);

    }
    &-h2 {
        font-size: clamp(2.3125rem , 5vw , 3.125rem);
    }
    &-number {
        display: block;
        font-weight: bold;
        font-size: clamp(1rem , 5vw , 1.5rem);
    }
    &-oz {
        color: var(--gray-text-productInfo);
        display: block;
    }
    &-information {
        display: grid;
        gap: 1.5rem;
    }
    &-add {
        display: flex;
        margin-top: 1.5rem;
    }

    &-counter{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &-svg{
        width: 30px;
        height: 30px;
    }
    &-content {
        display: grid;
        gap: 1.5rem;
    }
    &-subtitle {
        font-size: clamp(1.1724rem , 5vw , 1.3125rem);
        font-weight: initial;
    }
    &-h3 {
        font-size: clamp(1.1724rem , 5vw , 1.3125rem);
    }
}

.SocialMedia {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &-h3{
        font-size: clamp(1.1724rem , 5vw , 1.3125rem);
    }
    &-container{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    &-a{
        position: relative;
        display: flex;
        align-items: center;
        gap: .5rem;
        color: inherit;
        text-decoration: none;
        &::before {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--black);
            content: "";
            transition: .2s width;
        }    
    }
}

.SocialMedia-a:hover::before {
    width: 100%;
}