@use "../../sass/variables";

.Root {
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray);
    padding: 0 var(--padding-h);
    &-width {
        grid-template-areas: 
        "Root-img"
        "Root-section";
        @media screen and (min-width:768px){
            justify-content: center;
            align-items: center;
            grid-template-areas:
            "Root-img Root-section";
            grid-template-columns: repeat(2 , 1fr);
            padding: 0;
        }
    }
    &-section {
        grid-area: Root-section;
    }
    &-img {
        grid-area: Root-img;
        @media screen and (min-width:768px){
            margin: 0;
        }
    }

}