@use "../../sass/variables";

.CardProducts {
    &-link {
        width: 100%;
    }
    &-img {
        display: block;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: clamp(1rem , 4vw , 1.25rem) ;
        border: 1px solid var(--line);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &-price {
        display: block;
        font-size: clamp(1.05rem , 5vw , 1.10rem);
    }
    &-name {
        font-size: clamp(1.15rem , 5vw , 1.35rem);
    }
    &-btn {
        display: block;
        padding: clamp(.5rem , 5vw , .75rem)  clamp(1rem , 5vw , 1.12rem);
        border-radius: 50px;
        border: 1px solid #000;
        background-color: transparent;
        text-decoration: none;
        color: inherit;
        text-align: center;
    }
}

